#layout-footer{
    color: white;
    a{
        color: white;
        text-decoration: none;
    }

    background: grey;
    margin-top: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-start;

    .footer-nav{
        ul{
            list-style: none;
        }
    }
}