#layout-footer {
  color: white;
  background: grey;
  margin-top: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-start; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
